:host{
    background: #081033;
    display: block;
    color: #fff;
    padding: 16px;
    border-radius: 12px;
}
.banner-background{
    background-image: url('/resource/IPL_Images_and_logos/IPL_Images_and_logos/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 28px;
    text-align: center;
    padding: 16px;
    font-weight: 600;
}
.stats-box{
    min-width: 200px;
    
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 16px;
}
.stats-box h3{
    font-size: 36px;
}
.ipl-winner{
    margin: auto;
    display: block;
    padding-bottom: 16px;
}
.yellow-shade{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(2,201,86,1) 100%);
}
.violet-shade{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(219,104,212,1) 100%);
}
